 <p style="float: right;">Timer: <span id="countdown"></span></p>
<div class="play-grid">
    <div class="grid-display ">
        <div class="ship destroyer-container" draggable="true">
            <div id="destroyer-1"></div>
            <div id="destroyer-2"></div>
        </div>
        <div class="ship submarine-container" draggable="true">
            <div id="submarine-1"></div>
            <div id="submarine-2"></div>
            <div id="submarine-3"></div>
        </div>
        <div class="ship battleship-container" draggable="true">
            <div id="battleship-1"></div>
            <div id="battleship-2"></div>
            <div id="battleship-3"></div>
            <div id="battleship-4"></div>
        </div>
        <div class="ship carrier-container" draggable="true">
            <div id="carrier-1"></div>
            <div id="carrier-2"></div>
            <div id="carrier-3"></div>
            <div id="carrier-4"></div>
            <div id="carrier-5"></div>
        </div>
        <div class="ship cruise-container" draggable="true">
            <div id="cruise-1"></div>
            <div id="cruise-2"></div>
            <div id="cruise-3"></div>
            <div id="cruise-4"></div>
            <div id="cruise-5"></div>
            <div id="cruise-6"></div>
        </div>
    </div>
    <div class="grid grid-user  ">

    </div>
    <div class="grid grid-computer "></div>
</div>
<div class="button-grid ">
    <button id="start">Start Game</button>
    <button id="start">Reset</button>
</div>
<div class="chat-grid">
    <input type="text" class="input input__textarea " placeholder="Chat with opponent" />
    <div class="chat-states">
        <div class="chat-state chat-state__typing chat-state__invisible">Opponent is typing...</div>
    </div>
    <ul class="chat-messages">
        <li class="chat-message chat-message__holder none"></li>
    </ul>
</div>
<script src="./js/game.js"></script>