<div class="play-grid">
    <div class="grid grid-user">

    </div>
    <div class="grid grid-op">

    </div>
</div>
<div class="button-grid ">
    <button id="start">Start Game</button>
    <button id="reset">Reset Ships</button>
</div>
<div class="chat-grid">
    <input type="text" class="input input__textarea " placeholder="Chat with opponent" />
    <button id="chat-btn">Send</button>
    <div class="chat-states">
        <div class="chat-state chat-state__typing chat-state__invisible">Opponent is typing...</div>
    </div>
    <ul class="chat-messages">
        <li class="chat-message chat-message__holder none"></li>
    </ul>
</div>
<script src="/js/setup.js"></script>