<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

<div class="container">
   <div class="row top-buffer">
    <button type="button" class="btn btn-primary btn-lg btn-block play-game">Start a Game</button>
  </div>
    <div class="row top-buffer">
    <button type="button" class="btn btn-primary btn-lg btn-block join-game">Join a Game</button>
  </div>
    <div class="row top-buffer ">
    <button type="button" class="btn btn-primary btn-lg btn-block active-game">My Active Games</button>
  </div>
   <div class="row top-buffer ">
    <button type="button" class="btn btn-primary btn-lg btn-block">User Record (W/L)</button>
  </div>

</div>
<script src="./js/profile.js"></script>
