<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="container">
  <div class="row top-buffer">
    <button type="button" class="btn btn-primary btn-lg btn-block">Find Opponent</button>
  </div>
   <div class="row top-buffer">
    <button type="button" class="btn btn-primary btn-lg btn-block">Play With Friend</button>
  </div>
   <div class="row top-buffer">
    <button type="button" class="btn btn-primary btn-lg btn-block">Create Tournament</button>
  </div>
</div>

<!--<script src="./js/profile.js"></script>-->
