header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}
.top-buffer { margin-top:20px; }
.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}
.container1 {
  display: flex;
}
.grid-user {
  width: 402px;
  height: 402px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid black;
  margin: 20px;
}
.grid div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}
.grid-computer {
  width: 402px;
  height: 402px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid black;
  margin: 20px;
}
.grid-display {
  width: 400px;
  height: 400px;
  margin: 20px;
  background-color: yellow;
}
.destroyer-container {
  width: 80px;
  height: 40px;
  margin: 10px;
  background-color: orange;
  display: flex;
}
.submarine-container {
  width: 120px;
  height: 40px;
  margin: 10px;
  background-color: magenta;
  display: flex;
}
.battleship-container {
  width: 160px;
  height: 40px;
  margin: 10px;
  background-color: pink;
  display: flex;
}
.carrier-container {
  width: 200px;
  height: 40px;
  margin: 10px;
  background-color: red;
  display: flex;
}
.cruise-container {
  width: 220px;
  height: 40px;
  margin: 10px;
  background-color: green;
  display: flex;
}
.ship div {
  width: 80px;
  height: 40px;
}
.destroyer {
  background-color: orange;
}
.submarine {
  background-color: magenta;
}
.battleship {
  background-color: pink;
}
.carrier {
  background-color: red;
}
.cruise {
  
  background-color: green;
}

/*the following styles were added by Griffin for gameTest, feel free to remove if no longer needed :) */
  
.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  grid-template-columns: auto auto;
}
  
.game-grid {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.game-grid > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.centre {
  text-align: center;
}

/* end of gameTest styles */